#he{
    text-align: center;
    font-size: 15px;
}
.sh{
    background-color: lightsalmon;
   
}
.ya{
    background-color:pink;
}
#am{
    background-color: lightgreen;
}
#av{
    background-color: lightslategray;
}
.is{
    background-color: lightgrey;
   
}
#kl{
    background-color: greenyellow;
}
.hj{
    background-color: lightseagreen;
}